@import "@/assets/scss/mixins";

.home-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;

  &.purchase {
    grid-template-areas: "my-header my-header" "my-table my-table";
  }

  &.sale {
    grid-template-areas: "my-header my-header" "sale-info requisites" "my-table my-table";
  }
}

@media screen and (max-width: 980px) {
  .home-layout {
    &.sale {
      grid-template-columns: 1fr;

      &.sale {
        grid-template-areas: "my-header" "sale-info" "requisites" "my-table";
      }
    }
  }
}

@media screen and (max-width: 756px) {
  .home-layout {
    gap: 0;
    //&.purchase {
    //  grid-template-areas: "my-header my-header" "my-table my-table";
    //}
    //
    //&.sale {
    //  grid-template-areas: "my-header my-header" "sale-info sale-info" "requisites requisites" "my-table my-table";
    //}

    &-title {
      display: none;
    }
  }
}