@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.ads {
  &__row {
    grid-template-columns: 304px 88px 112px 172px 174px 102px;

    &:not(.ads__row_headers):hover {

      & .my-button {
        background: $bg-green-secondary;
        color: $text-base;
      }
    }
  }

  &__seller {
    @include flexbox(row);
    column-gap: 12px;

    &-avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 8px;
    }

    &-info {
      @include flexbox(column);
      row-gap: 2px;
      width: 100%;
      overflow: hidden;
    }

    &-name {
      width: 100%;
      @include get-font(16px, 500, 24px, $text-base);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-description {
      @include flex-center;
      column-gap: 8px;
      @include get-font(14px, 500, 20px, $text-base-secondary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & > span {
        @include get-font(14px, 500, 20px, $text-base-disable);
      }
    }
  }

  &__wallet {
    column-gap: 8px;
  }

  &__price {
    @include get-font(14px, 700, 20px, $text-base);
  }

  &__payment-methods {
    @include flexbox(row, center, center, wrap !important);
    gap: 4px;

    &-item {
      padding: 4px 8px;
      max-width: 80px;
      width: fit-content;
      border-radius: 4px;
      background: $bg-base-secondary;
      overflow: hidden;
      @include get-font(10px, 700, 12px, $text-base-light);
      text-overflow: ellipsis;
      text-transform: uppercase;
    }
  }

  &__info {
    @include flexbox(column !important, center !important, flex-start !important);
    row-gap: 4px;

    &-available {
      @include flex-center;
      column-gap: 8px;
      @include get-font(14px, 500, 20px, $text-base);
    }

    &-limits {
      @include get-font(12px, 500, 16px, $text-base-light);
    }
  }

  &__button {
    justify-content: flex-end !important;
  }
}