@import "@/assets/scss/mixins";
@import "@/assets/scss/variables";

.delete-modal {
  &__content {
    @include flexbox(column, center, center);
    row-gap: 8px;
    margin: 52px 0 96px;
  }

  &__title {
    @include get-font(22px, 500, 36px, $text-base);
    text-align: center;
  }

  &__description {
    @include get-font(14px, 500, 20px, $text-base-secondary);
    text-align: center;
  }

  &__buttons {
    @include flexbox(row);
    column-gap: 16px;
  }
}

@media screen and (max-width: 756px) {
  .delete-modal {
    &__buttons {
      & > .my-button.neutral-btn {
        display: none;
      }
    }
  }
}