@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.my-button {
  @include flex-center;
  column-gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  @include get-font(12px, 500, 16px);
  white-space: nowrap;
  transition: .25s all ease;
  cursor: pointer;
  position: relative;

  & ::v-deep(> img) {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }

  & ::v-deep(path) {
    transition: .25s all ease;
  }

  &__legend {
    @include flex-center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $bg-violet;
    @include get-font(10px, 700, 12px, $text-base-on-color);
    position: absolute;
    top: -5px;
    right: -5px;
  }

  &.big {
    padding: 12px 16px;
    border-radius: 12px;
    @include get-font(14px, 500, 20px);
  }

  &.primary-btn {
    background: $bg-primary-default;
    color: $text-base-on-color;

    &:hover {
      background: $bg-primary-hover;
    }

    &:active {
      background: $bg-primary-pressed;
    }

    &.disabled {
      background: $bg-primary-disable;
      color: $text-base-on-color;
    }
  }

  &.second-primary-btn {
    padding: 7px 11.35px;
    border: 1px solid $border-primary-default;
    color: $text-primary-default;

    &.big {
      padding: 11px 16px;
    }

    &:hover {
      border-color: $border-primary-hover;
      color: $text-primary-hover;
    }

    &:active {
      border-color: $border-primary-pressed;
      color: $text-primary-pressed;
    }

    &.disabled {
      border-color: $border-primary-disable;
      color: $text-primary-disable;
    }
  }

  &.success-btn {
    padding: 7px 11.35px;
    border: 1px solid $border-green-secondary-default;
    color: $text-base-light;

    &.big {
      padding: 11px 16px;
    }

    &:hover {
      border-color: $border-green-secondary-hover;
      color: $text-base-secondary;
    }

    &:active {
      border-color: $border-green-secondary-pressed;
      color: $text-base;
    }

    &.disabled {
      border-color: $border-green-secondary-disable;
      color: $text-base-disable;
    }
  }

  &.second-success-btn {
    background: $bg-green-secondary-default;
    color: $text-base;

    &:hover {
      background: $bg-green-secondary-hover;
    }

    &:active {
      background: $bg-green-secondary-pressed;
    }

    &.disabled {
      background: $bg-green-secondary-disable;
      color: $text-base-light;
    }
  }

  &.neutral-btn {
    padding: 7px 11.35px;
    border: 1px solid $border-tertiary-default;
    color: $text-base-light;

    &.big {
      padding: 11px 16px;
    }

    &:hover {
      border-color: $border-tertiary-pressed;
      color: $border-tertiary-pressed;

      & ::v-deep(path) {
        fill: $border-tertiary-pressed;
      }
    }

    &:active {
      border-color: $border-tertiary-pressed;
      color: $text-base;

      & ::v-deep(path) {
        fill: $text-base;
      }
    }

    &.disabled {
      border-color: $border-tertiary-disable;
      color: $text-base-disable;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}