@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.my-table {
  max-width: 100vw;
  width: 100%;
  background: $bg-base;
  overflow: auto;

  &__row {
    display: grid;
    justify-content: space-between;
    column-gap: 10px;
    padding: 17px 24px;
    transition: .25s all ease;

    &:not(.my-table__row_headers):hover {
      background: $bg-base-secondary;
    }

    &_headers {
      padding: 16px 24px;
      border-top: 1px solid $border-base-light;
      border-bottom: 1px solid $border-base-light;
      @include get-font(14px, 500, 20px, $text-base-light);
    }

    & > div {
      @include flexbox(row, flex-start, center);
    }
  }
}

@media screen and (max-width: 756px) {
  .my-table {
    @include flexbox(column);
    row-gap: 16px;
    padding: 16px;
    background: $bg-base-secondary;
    overflow: unset;

    &__row {
      background: $bg-base;

      &_headers {
        display: none !important;
      }

      &::v-deep(.seller) {
        grid-area: seller;
        column-gap: 16px;
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $border-base-light;

        & .seller {
          &__name,
          &__description {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}