@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.purchase {
  @include flexbox(column);
  grid-area: my-table;
  width: 100%;
  border-radius: 16px;
  background: $bg-base;

  &__tabs {
    & > svg {
      display: none;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 756px) {
  .purchase {
    border-radius: 0;

    &__tabs {
      @include flexbox(row, flex-start, center);
      column-gap: 16px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 608px) {
  .purchase {
    &__tabs {
      & > svg {
        display: block;
      }
    }
  }
}