@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.requisites {
  grid-area: requisites;
  width: 100%;
  height: 100%;

  &__header {
    @include flexbox(row, space-between, center);
  }

  &__add {
    @include get-font(14px, 500, 20px, $text-link);
    cursor: pointer;
  }

  &__edit {
    display: none;
  }

  &__content {
    max-height: 490px;
    overflow-y: auto;
  }

  &__item {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 144px 80px 160px 16px;
    padding: 20px 24px;

    &-wallet {
      @include flexbox(row, flex-start, center);
      column-gap: 16px;
      @include get-font(16px, 500, 24px, $text-base-secondary);

      & > img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }

    &-card-num {
      @include get-font(16px, 500, 24px, $text-base-secondary);
    }

    &-bank {
      padding: 4px 8px;
      max-width: 100%;
      width: fit-content;
      border-radius: 4px;
      background: $bg-base-secondary;
      @include get-font(10px, 700, 12px, $text-base-light);
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-edit {
      cursor: pointer;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-base-light;
    }
  }
}

@media screen and (max-width: 1040px) {
  .requisites {
    &__item {
      grid-template-columns: auto 80px 160px 16px;
    }
  }
}

@media screen and (max-width: 756px) {
  .requisites {
    &__add {
      display: none;
    }

    &__edit {
      display: block;
    }

    &__content {
      @include flexbox(row);
      column-gap: 12px;
      padding: 12px;
      overflow: auto;
    }

    &__item {
      @include flexbox(column-reverse);
      row-gap: 4px;
      padding: 12px;
      border-radius: 8px;
      background: $bg-base-secondary;

      &-wallet {
        column-gap: 8px;
        @include get-font(14px, 500, 20px, $text-base-secondary);

        & > img {
          width: 16px;
          height: 16px;
        }
      }

      &-bank {
        padding: 0;
        background: transparent;
        @include get-font(14px, 700, 20px, $text-base-secondary);
      }

      &-card-num,
      &-edit {
        display: none;
      }
    }
  }
}