@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.my-purchases-and-deals {
  &__row {
    grid-template-columns: 336px 148px 120px 120px 120px 108px;
  }

  &__info {
    @include flexbox(column !important, center !important, flex-start !important);
    row-gap: 4px;

    &-count {
      @include flex-center;
      column-gap: 8px;
      padding-left: 24px;
      @include get-font(14px, 700, 20px, $text-base);
    }

    &-sum {
      @include get-font(12px, 500, 16px, $text-base-light);
    }
  }

  &__status {
    margin: auto 0;
    padding: 4px 8px 4px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    background: $bg-base-secondary;
    @include get-font(10px, 700, 12px, $text-base-light);
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      margin: auto;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 9px;
    }

    &.completed {
      &::before {
        background: $bg-green;
      }
    }

    &.pending,
    &.accepted {
      &::before {
        background: $bg-orange;
      }
    }

    &.canceled,
    &.expired {
      &::before {
        background: $bg-red;
      }
    }
  }

  &__order-id {
    @include flex-center;
    column-gap: 4px;
    @include get-font(12px, 500, 16px, $text-link);
    cursor: pointer;

    & > span {
      display: none;
    }
  }

  &__date {
    @include flex-center;
    column-gap: 4px;
    @include get-font(12px, 500, 16px, $text-base-disable);

    & > span {
      color: $text-base-light;

      &:first-child {
        display: none;
      }
    }
  }

  &__button {
    justify-content: flex-end !important;
  }
}

@media screen and (max-width: 756px) {
  .my-purchases-and-deals {
    &__row {
      display: grid;
      grid-template-columns: 173px 100px;
      grid-template-areas:
              "info status"
              "info status"
              "seller seller"
              "order-id order-id"
              "date date"
              "button button";
      padding: 16px;
      width: 100%;
      border-radius: 16px;
    }

    &__seller {
      grid-area: seller;
    }

    &__info {
      grid-area: info;

      &-available,
      &-limits {
        @include flex-center;
        column-gap: 8px;
        margin-top: 16px;
        @include get-font(12px, 500, 16px, $text-base);

        & > span {
          padding-right: 8px;
          width: 42px;
          @include get-font(12px, 500, 16px, $text-base-light);
        }
      }
    }

    &__status {
      grid-area: status;
    }

    &__order-id {
      grid-area: order-id;

      & > span {
        display: block;
      }
    }

    &__date {
      grid-area: date;

      & > span:not(:first-child) {
        color: $text-base;
      }
    }

    &__order-id,
    &__date {
      column-gap: 8px;
      margin-top: 16px;

      & > span:first-child {
        display: block;
        margin-right: 8px;
        width: 64px;
        @include get-font(12px, 500, 16px, $text-base-light);
      }
    }

    &__button {
      grid-area: button;
      margin-top: 16px;

      & > .my-button {
        width: 100%;
      }
    }
  }
}