@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.my-header {
  @include flexbox(column);
  grid-area: my-header;
  padding: 0 24px;
  width: 100%;
  border-radius: 16px;
  background: $bg-base;

  &__up {
    width: 100%;

    & > svg {
      flex-shrink: 0;
    }
  }

  &__selects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    padding: 24px 0;
    width: 100%;
  }
}

@media screen and (min-width: 757px) {
  .my-header {
    &__title {
      display: none;
    }
  }
}

@media screen and (max-width: 756px) {
  .my-header {
    padding: 16px 16px 0;
    border-radius: 0;

    &__up {
      @include flexbox(row, space-between, center);
      column-gap: 8px;
    }

    &__selects {
      column-gap: 8px;
    }

    &__title {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 608px) {
  .my-header {
    &__selects {
      display: none;
    }
  }
}