@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.my-tab {
  @include flex-center;
  column-gap: 8px;
  text-align: center;
  transition: .25s all ease;
  cursor: pointer;
  white-space: nowrap;
  position: relative;

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
  }

  &.default-tabs {
    padding: 12px 16px;
    max-width: 192px;
    width: 100%;
    border-radius: 12px;
    @include get-font(16px, 500, 24px, $text-base-secondary);

    &.active {
      background: $bg-base;
      color: $text-base;
    }
  }

  &.header-tabs {
    padding: 16px 0;
    border-bottom: 4px solid transparent;
    @include get-font(18px, 700, 28px, $text-base-light);

    &:hover {
      color: $text-base-secondary;
    }

    &.active {
      border-bottom-color: $border-violet;
      color: $text-violet;

      &:hover {
        border-bottom-color: $border-primary-hover;
        color: $text-primary-hover;
      }
    }
  }

  &.big {
    padding: 12px 16px;
    width: 152px;
    border-radius: 12px;
    @include get-font(16px, 500, 24px, $text-base-secondary);

    &:hover,
    &.active {
      color: $text-base;
    }

    &.active {
      background: $bg-base;
      transition: .25s all ease;
    }

    &.indicator {
      &-green {
        &:before {
          background: $bg-green;
        }
      }

      &-orange {
        &:before {
          background: $bg-red;
        }
      }
    }
  }

  &.little {
    padding: 8px 16px;
    border-radius: 8px;
    background: $bg-base-light;
    @include get-font(14px, 500, 20px, $text-base-secondary);

    &:hover {
      background: $bg-base-bright;
    }

    &.active {
      background: $bg-base-deep;
      color: $text-base-on-color;
    }
  }

  & ::v-deep(.my-tooltip) {
    top: calc(-100% - 15px);
    bottom: calc(100% + 15px);
    left: calc(70% + 4px);
  }
}


@media (max-width: 1140px) {
  .my-tab {

    &.big {
      padding: 10px 12px;
      width: 140px;
      @include get-font(15px, 500, 20px, $text-base-secondary);
    }
  }
}

@media (max-width: 992px) {
  .my-tab {
    &.big {
      padding: 8px 12px;
      width: 100%;
      border-radius: 8px;
      @include get-font(14px, 500, 140%, $text-base-secondary);

      &.indicator {

        &:before {
          top: 7px;
          right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 756px) {
  .my-tab {
    &.header-tabs {
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }

    &.default-tabs {
      max-width: 100%;
    }
  }
}