@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.sale-announcement {
  &__row {
    grid-template-columns: 104px 160px 200px 200px 112px 120px 16px;

    &:not(.sale-announcement__row_headers):hover {

      & .my-button {
        background: $bg-green-secondary-default;
        color: $text-base;
      }
    }
  }

  &__seller {
    @include flexbox(row);
    column-gap: 12px;

    &-avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 8px;
    }

    &-info {
      @include flexbox(column);
      row-gap: 2px;
      width: 100%;
      overflow: hidden;
    }

    &-name {
      width: 100%;
      @include get-font(16px, 500, 24px, $text-base);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-description {
      @include flex-center;
      column-gap: 8px;
      @include get-font(14px, 500, 20px, $text-base-secondary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & > span {
        @include get-font(14px, 500, 20px, $text-base-disable);
      }
    }
  }

  &__wallet {
    column-gap: 8px;
    padding-left: 24px;

    & > img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }

  &__price {
    @include get-font(14px, 700, 20px, $text-base);
  }

  &__info {
    @include flexbox(column !important, center !important, flex-start !important);
    row-gap: 4px;

    &-available {
      @include flex-center;
      column-gap: 8px;
      padding-right: 24px;
      background-position: right;
      @include get-font(14px, 500, 20px, $text-base);
    }

    &-limits {
      @include get-font(12px, 500, 16px, $text-base-light);

      & > span {
        display: none;
      }
    }
  }

  &__status {
    margin: auto 0;
    padding: 4px 8px 4px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    background: $bg-base-secondary;
    @include get-font(10px, 700, 12px, $text-base-light);
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      margin: auto;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 9px;
    }

    &.completed {
      &::before {
        background: $bg-green;
      }
    }

    &.in-process::before {
      background: $bg-orange;
    }

    &.canceled {
      &::before {
        background: $bg-red;
      }
    }
  }

  &__date {
    @include flex-center;
    column-gap: 4px;
    @include get-font(12px, 500, 16px, $text-base-disable);

    & > span {
      color: $text-base-light;

      &:first-child {
        display: none;
      }
    }
  }

  &__edit-button {
    justify-content: flex-end !important;
    cursor: pointer;
  }
}

@media screen and (max-width: 756px) {
  .sale-announcement {
    &__row {
      display: grid;
      grid-template-columns: 153px 107px 16px;
      grid-template-areas:
              "price status edit-button"
              "wallet status edit-button"
              "info info info"
              "date date date"
              "payment-methods payment-methods payment-methods";
      padding: 16px;
      width: 100%;
      border-radius: 16px;
    }

    &__wallet {
      grid-area: wallet;
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;

      & > img {
        width: 16px;
        height: 16px;
      }
    }

    &__price {
      grid-area: price;
    }

    &__payment-methods {
      grid-area: payment-methods;
      margin-top: 16px;
    }

    &__info {
      grid-area: info;
      row-gap: 0;

      &-available,
      &-limits {
        @include flex-center;
        column-gap: 8px;
        margin-top: 16px;
        font-size: 12px;
        color: $text-base;

        & > span {
          color: $text-base-light;

          &:first-child {
            margin-right: 8px;
            width: 52px;
          }
        }
      }

      &-available {
        justify-content: flex-start;
        padding-top: 16px;
        width: 100%;
        border-top: 1px solid $border-base-light;
      }
    }

    &__status {
      grid-area: status;
      margin-right: 8px;
    }

    &__date {
      grid-area: date;
      column-gap: 8px;
      margin-top: 16px;

      & > span {
        &:first-child {
          display: block;
          margin-right: 8px;
          width: 52px;
        }

        &:not(:first-child) {
          color: $text-base;
        }
      }
    }

    &__edit-button {
      grid-area: edit-button;
    }
  }
}