@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.my-tabs {
  @include flexbox(row, flex-start, center);
  border-radius: 16px;

  &.default-tabs {
    column-gap: 8px;
    padding: 4px;
    background: $bg-base-secondary;
  }

  &.header-tabs {
    column-gap: 24px;
  }

  &.little {
    column-gap: 16px;
  }
}

@media (max-width: 992px) {
  .my-tabs {
    width: 100%;

    &.header-tabs {
      column-gap: 8px;
      border-radius: 8px;
      width: 100%;
    }

    &.little {
      column-gap: 16px;
    }
  }
}
